.page {
  min-height: 100vh;
  background-color: white;
}

.main {
  padding: 3rem 0 4rem;
  background-color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  
  .main {
    padding: 2rem 0 3rem;
  }
}
